<h1>Pirate:  Name: <%= @pirate.name %>  Height: <%= @pirate.height %> Weight: <%= @pirate.weight %></h1>


<h2>Ship1: Name: <%= @ship1.name %> Type: <%= @ship1.type %> Booty: <%= @ship1.booty %></h2>


<h2>Ship2: Name: <%= @ship2.name %> Type: <%= @ship2.type %> Booty: <%= @ship2.booty %></h2>
